includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    checkOctaneCompatibility: true

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Access to an undefined property Modules\\Send\\Models\\.*::\$.*#'

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
